<% include header %>
<html>
    <body>
        
<header style="margin-top:70px;">
        <h2>Anuraag Sanakkayala</h2>
    </header>


    <div class="profile_container">
        <div class="video_Section">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="img_section">
            <img class="img_profile img-circle" src="photo.jpeg" alt="no_photo">
        </div>
    </div>
    <article>
        <h6 style='display:none;'>dummy</h6>
        <section id='present-section'>
            <h3 class='section-header'>About Me </h3>
            <p>I am a new graduate student at Northwest Missouri State University in the Applied Computer Science
                program.</p>
        </section>
        <section id='past-section'>
            <h3 class='section-header'>Background</h3>
            <p>I finished my bachelors in Petroleum Engineering from JNTUK Kakinada. I worked as an automation tester
                at Accentue Services pvt. ltd, Hyderabad. I have an understading of databases and Python but I'm new to
                desgning web pages.</p>

        </section>
        <section id='future-section'>
            <h3 class='section-header'>Future prospects</h3>
            <p>As of now all three realms - databases, Python, Web design seem interesting to me. I'll focus on
                improving skills in these areas. </p>
        </section>
        <section>
            <h3 class='section-header'>Class Schedule</h3>
            <table class='tab'>
                <tr>
                    <th>Course</th>
                    <th>Timings</th>
                    <th>Professor</th>
                </tr>
                <tr>
                    <td>WebbApps</td>
                    <td>Mon,Wed 12 - 12:50 PM </td>
                    <td>Dr.Denise Case</td>
                </tr>
                <tr>
                    <td>Object oriented Programming</td>
                    <td>Tue,Thu 8 - 9:15 AM </td>
                    <td>Dr.Ajay Bandi</td>
                </tr>
                <tr>
                    <td>Object Oriented Programming Lab</td>
                    <td>Thu 3:35 - 5:35 PM </td>
                    <td>Dr.Ajay Bandi</td>
                </tr>
                <tr>
                    <td>Database Systems</td>
                    <td>Mon, Wed, Fri 8:00 - 8:50 AM </td>
                    <td>Dr. Charles Badami</td>
                </tr>
                <tr>
                    <td>Network fundemenatals</td>
                    <td>Mon, Wed 12:00 - 12:50 PM </td>
                    <td>Richard S Bell</td>
                </tr>
                <tr>
                    <td>Network fundemenatals Lab</td>
                    <td>Tue 2:00 - 3:50 PM </td>
                    <td>Richard S Bell</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

            </table>
        </section>
    </article>
 <% include footer %>

   </body>
   </html>
